 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <img alt="mountains" src="{{ "/assets/img/indesign.jpg" | prepend: site.baseurl }}" />
         <img alt="mountains" src="{{ "/assets/img/fritzing.jpg" | prepend: site.baseurl }}" />
         <img alt="mountains" src="{{ "/assets/img/ltspice.jpg" | prepend: site.baseurl }}" />
      
      <p>Use Fritzing to design hardware schematics from breadboards, and Ltspice to simulate final outcome in details.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-cplusplus-line-wordmark"></i>
      <i class="devicon-c-plain-wordmark"></i>
        <i class="devicon-python-plain-wordmark"></i>
      <p>Often swap between programming languages to fit the needs for different types of application. For low level hardware, C are more accessible, and for software designs or scientific related calculations, Python are more convenience . </p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-pycharm-plain-wordmark.colored"></i>
      <i class="devicon-jetbrains-line-wordmark"></i>
      <i class="devicon-ubuntu-plain-wordmark"></i>
      <p>Linux Ubuntu work really well with IC programming, it support debugging features alone with other IC simulation program created by the community.</p>
    </div>
</div>
