<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="arm7" src="{{ "/assets/img/arm7.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Low Level Programing </h3>
    <ul>
      <li>C and Assembly</li>
    </ul>
    <p>Using Arm7 assmbly to program an old fashion SpaceInvader. Program a Hotel Safe Lock Using C, alone with other Low Level hardware design. Go to my GitHub and see more!</p>
    <a class="project-link" href="https://github.com/SendToSpace">Link To My Github</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="galaga" src="{{ "/assets/img/galaga.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Software Development </h3>
    <ul>
      <li>Python</li>
    </ul>
    <p>Worked in a team with five members, designed a fun and challenging shooting game. Our game was inspired by an ancient game Galaga.</p>
    <a class="project-link" href="https://youtu.be/Oxu2xLNaEf0">Youtube Video</a>
  </div>
</div>
<div class="contents-right">
    <h3> Hardware Developement </h3>
    <ul>
      <li>C</li>
    </ul>
    <p>Basic Embeded System I build with Feather m0 and Feather Wing. The device sense the surrounding apmasphere and play different melodies. The user can also configure different playlist. </p>
    <a class="project-link" href="https://www.youtube.com/watch?v=LGNjgP8T9nE&t=105s">Youtube Video</a>
     <img alt="galaga" src="{{ "/assets/img/mp3.png" | prepend: site.baseurl }}" />
  </div>