<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> SpaceInvader </h3>
    <ul>
      <li> ARM7 Assembly</li>
    </ul>
    <p>Programming a UM10139 LPC2148 Microcontroler from ground up using assembly. The game feature external leds display as player's lives, and score display in four 7 segment leds, alone with another functionality implements in the game. SpaceInvader was an simple and old game around for sometime, but writting everything from scratch using assemly reinforce some of the basic and fundamental concepts of how computer organize informations and operation work.  </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
